.header-img{
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center; 
    color: white;
}

nav > a{
    color: white !important;
    font-size: 25px !important;
}

nav > a:hover{
    color: goldenrod !important;
}