.header-img{
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center; 
    color: white;
}

nav > a{
    color: white !important;
    font-size: 25px !important;
}

nav > a:hover{
    color: goldenrod !important;
}

.modal-content {
    background-color: rgb(25,34,43);
    border-color: rgb(25,34,43);
    color:white;
}

.modal-header {
    background-color: rgb(188,18,64);
    border-color: rgb(188,18,64);
    color: #fff;
}

.modal-footer {
    background-color: rgb(25,34,43);
    border-color: rgb(25,34,43);
}